<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportedURLS</key>
	<array>
		<string>http</string>
		<string>https</string>
		<string>rdar</string>
		<string>radar</string>
		<string>safari</string>
		<string>mailto</string>
		<string>itms-books</string>
		<string>airsharing</string>
		<string>alocola</string>
		<string>appigonotebook</string>
		<string>appigotodo</string>
		<string>duoxx</string>
		<string>cartographer</string>
		<string>irc</string>
		<string>cobitools</string>
		<string>com-innerfence-ccterminal</string>
		<string>exposure</string>
		<string>twitterfon</string>
		<string>twitterfonpro</string>
		<string>eureka</string>
		<string>explorimmo</string>
		<string>fb</string>
		<string>gcbuddy</string>
		<string>geopherlite</string>
		<string>comgoogleearth</string>
		<string>imdb</string>
		<string>inrixtraffic</string>
		<string>itranslate</string>
		<string>loanplan</string>
		<string>navigon</string>
		<string>notitas</string>
		<string>reserve</string>
		<string>pic2shop</string>
		<string>portscan</string>
		<string>roundtuit</string>
		<string>ships2</string>
		<string>checkit</string>
		<string>surfboard</string>
		<string>timelog</string>
		<string>tomtomhome</string>
		<string>tweetie</string>
		<string>twinkie</string>
		<string>twit</string>
		<string>twitter</string>
		<string>twitterrific</string>
		<string>unfragment</string>
		<string>wikiamo</string>
		<string>wikipedia</string>
		<string>yummy</string>
		<string>localch</string>
		<string>x-seesmic</string>
		<string>offlinepages</string>
		<string>terminology</string>
		<string>zentap</string>
		<string>zentappro</string>
		<string>keyboard</string>
		<string>tikisurf</string>
		<string>waze</string>
		<string>wpp</string>
		<string>wavittabularasa</string>
	</array>
</dict>
</plist>
